:root{
    --h:1.7vw
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    background: #131518;
    width:100vw
}

.nav{
    width:100vw;
    height:5vw;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:10px;
    z-index: 10;
    background-color: #131518;
    animation: nav 0.5s ease-in 0s 1 normal ;
}
@keyframes nav{
    0%{
        position: absolute;
        top:-4vw;
        opacity: 0%;
    }
    100%{
        position: absolute;
        top:0vw;
        opacity: 100%;
    }
}
h1{
    background-color: transparent;
    font-family: Trirong;
    font-size: 35px;
    margin-left: 10px;
    color: #e9ecef;
}
.list{
    width: 30vw;
    display: flex;
    font-size: 3vw;
    font-size: calc(20px + 2.5vw);
    justify-content: space-evenly;
}
a{
    color:#e9ecef;
}
.logo{
    position: absolute; /* Use absolute positioning */
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    width: var(--h);
    height: var(--h);
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    border: 2px solid #6c757d;
    border-bottom: 2px solid transparent;
}
.stick{
    width: 2px;
    min-height: 20px;
    height: var(--h);
    background-color:#6c757d;
    position: relative;
    top:50%;
    place-self: center;
}
.main{
    display: grid;
    width: 100vw;
    align-items: center;
}
.grid{
    margin-top: 8vw;
    margin-left: 3vw;
    margin-right: 1.5vw;
    display: grid;
    grid-template-columns:repeat(10, 9.4vw);
    grid-template-rows: repeat(6, 9.4vw);
    grid-row-gap: 30px;
    grid-column-gap:20px ;
}
@keyframes appear{
    from{
        opacity: 0%;
        position: relative;
        top:30px;
        scale: 0.99;
    }
    to{
        opacity: 100%;
        position: relative;
        top:0px;
        scale: 1;
    }
}
.identity{
    grid-column-start: 1;
    grid-column-end:4 ;
    grid-row-start: 1;
    grid-row-end:5 ;
    display: grid;
    justify-content: center;
    border-radius: 15px;
    position: relative;
    color: #e9ecef;
    background-image: linear-gradient(-135deg, rgb(39, 39, 39), black);
    box-shadow: 1px 1px 15px black;
    padding: 10px;
    animation: appear 0.5s ease-in 0.1s normal;
}
.identity:hover .stick{
    background-color:#e9ecef;
    transition-duration:0.3s;
}
img{
    width:20vw;
    height: 20vw;
    place-self: center;
    position: relative;
    top:-15px;
    border-radius: 30px 0px 30px 0px;
}
h2{
    font-size: 30px;
    font-family: Trirong;
    margin-left: 10px;
    place-self: start;
    letter-spacing: 2px;
    color: #e9ecef;
}
.intro{
    place-self: center;
    text-align: center;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 17px;
    font-family:Trirong;
}

.qualification {
        position: relative; /* Establish a positioning context */
        grid-column: 4/7;
        grid-row: 1/3;
        border-radius: 15px;
        background-image: linear-gradient(-135deg, rgb(39, 39, 39), black);
        box-shadow: 1px 1px 15px black;
        padding: 20px;
        display: grid;
        grid-template-columns: 19.74vw, 8.46vw;
        grid-template-rows: 3.76vw, 15.04vw;
        animation: appear 0.6s ease-in 0.1s normal;
        overflow: hidden;
}
.qual{
    place-self: center;
    grid-row: 1/3;
    grid-column: 1/2;
    position: relative;
    right: 20px;
}
.text{
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 6rem;
    position: relative;
    top:-0vw;
    right: 4vw;
    bottom: 0vw;
    left: -4vw;
    color:#e9ecef;
    font-family: Trirong;
    font-size:30px
}
.qualification:hover .logo, .identity:hover .logo, .python:hover .logo, .web:hover .logo, .Project:hover .logo, .contact:hover .logo, .experience:hover .logo, .Modelling:hover .logo{
    border: 2px solid #e9ecef;
    border-bottom: 2px solid transparent;
    transition-duration:0.3s ;
    filter:drop-shadow(4px 1px 10px rgb(255, 255, 255)) ;
}
.qualification:hover .stick,.identity:hover .stick, .python:hover .stick, .web:hover .stick, .Project:hover .stick, .contact:hover .stick, .experience:hover .stick, .Modelling:hover .stick{
    background-color:#e9ecef;
    transition-duration:0.3s;
    filter:box-shadow(4px 1px 10px rgb(255, 255, 255)) ;
}
.school{
    font-size: 25px;
    color:#e9ecef;
}
.college{
    font-size: 25px;
    color:#e9ecef;
}
.tray{
    font-size: 20px;
    transform:translateX(0px);

}
.def{
    display: none;
    width:30vw;
    gap:30px;
    opacity: 0;
    position: relative;
    top:4.5vw;
}
.ghi{
    margin-top: 18px;
    display: none;
    width:30vw;
    gap:30px;
    opacity: 0;
    position: relative;
    top:4.5vw;
}
.th1{
    font-size: 20px;
    color: #ADB5BD;
    width:10vw
}
.th2{
    margin-top: 10px;
    font-size: 20px;
    color: #ADB5BD;
    width:10vw
}
.c{
    font-size: 15px;
}
.qualification:hover .qual{
    transform: translateX(-350px);
    transition-duration: 1.5s;
}
.qualification:not(:hover) .qual{
    transform: translateX(0px);
    transition-duration: 1.5s;
}
.qualification:hover .def, .qualification:hover .ghi{
    display: flex;
    position: relative;
    right:19vw;
    top:4.5vw;
    opacity: 1;
    transition-duration: 2s;
    transform: translateZ(0px);
}
.qualification:not(:hover) .def, .qualification:not(:hover) .ghi{
    display: flex;
    position: relative;
    right:0vw;
    top:4.5vw;
    opacity: 0;
    transition-duration: 1s;
    transform: translateZ(0px);
}
.qualification:hover .text{
    grid-row: 2/3;
    grid-column: 2/3;
    position:relative;
    top:-15vw;
    right:19vw;
    bottom: 0vw;
    left: -19vw;
    transition-duration: 1.5s;
}
.qualification:not(:hover) .text{
    grid-row: 2/3;
    grid-column: 2/3;
    position:relative;
    top:-6vw;
    right:4vw;
    transition-duration: 1.5s;
}
.python{
    grid-column:7/10;
    grid-row: 1/2;
    display: grid;
    border-radius: 15px;
    position: relative;
    color: #e9ecef;
    background-image: linear-gradient(-135deg, rgb(39, 39, 39), black);
    box-shadow: 1px 1px 15px black;
    padding: 10px;
    grid-template-columns: 1;
    animation: appear 0.6s ease-in 0.1s normal;
}
.k{
    display: flex;
    align-items: center;
}
.text2{
    font-size: 25px;
    position: relative;
    color:#e9ecef;
    font-family: Trirong;
}
.py{
    width:3vw;
    height: 4vw;
    min-width: 40px;
    min-height: 40px;
    border-radius: 0px;
    position: relative;
    top:0px; 
    z-index: 3;
}

.lib{
    display: flex;
    width:20vw;
    height: 5vw;
    text-align: center;
    gap: 25px;
}
.ska{
    position: relative;
    font-size: 20px;
    top:15%
}
.numpy{
    background-size: cover;
    width: 45px;
    border-radius: 0px;
    height: 45px;
}
.numpy:hover{
    scale:1.3;
    width: 55px ;
    transition-duration: 0.3s;
}
.numpy:not(:hover){
    scale:1;
    width: 45px ;
    transition-duration: 0.3s;
}
.panda{
    width:45px;
    height: 45px;
    filter:drop-shadow(1px 1px 1px white);
    border-radius: 0px;
}
.panda:hover{
    scale:1.3;
    filter:drop-shadow(1px 1px 1px white);
    width: 55px ;
    transition-duration: 0.3s;
}
.panda:not(:hover){
    scale:1;
    filter:drop-shadow(1px 1px 1px white);
    width: 45px ;
    transition-duration: 0.3s;
}
.web{
    grid-column:7/9;
    grid-row: 2/3;
    border-radius: 15px;
    background-image: linear-gradient(-135deg, rgb(39, 39, 39), black);
    box-shadow: 1px 1px 15px black;
    padding: 10px;
    display: grid;
    border-radius: 15px;
    position: relative;
    color: #e9ecef;
    animation: appear 0.6s ease-in 0.1s normal;
}
.Modelling{
    grid-column:9/10;
    grid-row: 2/3;
    border-radius: 15px;
    background-image: linear-gradient(-135deg, rgb(39, 39, 39), black);
    box-shadow: 1px 1px 15px black;
    padding: 10px;
    display: grid;
    border-radius: 15px;
    position: relative;
    color: #e9ecef;
    animation: appear 0.6s ease-in 0.1s normal;
}
.Project{
    grid-column:4/10;
    grid-row: 3/5;
    border-radius: 15px;
    background-image: linear-gradient(-135deg, rgb(39, 39, 39), black);
    box-shadow: 1px 1px 15px black;
    padding: 10px;
    display: grid;
    border-radius: 15px;
    position: relative;
    color: #e9ecef;
    animation: appear 0.7s ease-in 0.1s normal;
}
.result{
    z-index: 0;
    display: none;
}
.empty{
    width: 200px;
    height: 200px;
    display: grid;
    justify-self: center;
    position: relative;
    bottom:30px;
    background-image: url('https://pictographic.azureedge.net/thumbnails/flat-modern/FpxxvmBevL7kfxq5UuIK.png');
    background-size: contain;
    background-repeat: no-repeat;
    filter:grayscale(100);
    color: #e9ecef;
}
button{
    width:5vw;
    height: 3vw;
    border-radius: 3vw;
    background-color: #ADB5BD;
    place-self: end;
    position: relative;
    bottom: 30px;
    left:90%
}
.text3{
    position: absolute;
    bottom:10px;
    place-self: center;
    font-size: 20px;
    color: #ADB5BD;
    filter: none;
    font-family:sans-serif;
    font-weight: 1000;   
}
.Base{
    z-index: 3;
    margin:10px;
    position: relative;
    bottom: 30px;
    font-size: 20px;
    list-style: none;
    line-height: 40px;
}
.contact{
    grid-column:1/5;
    grid-row: 5/7;
    border-radius: 15px;
    background-image: linear-gradient(-135deg, rgb(39, 39, 39), black);
    box-shadow: 1px 1px 15px black;
    padding: 10px;
    display: grid;
    border-radius: 15px;
    position: relative;
    color: #e9ecef;
    animation: appear 0.5s ease-in 0.1s normal;
}
.ceer{
    display: flex;
}
.SQL{
    width: 18vw;
    height: 15vw;
    margin-left: 10px;
    border-radius: 20px;
    background-color: #e9ecef88;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sql{
    position: relative;
    top: 1.3%;
    left: 1.3%;
    bottom: 1.3%;
    right:1.3%;
    width: 95%;
    height: 95%;
    border-radius: 20px;
    place-self: center;
}
p{
    z-index: 3;
    position: relative;
    bottom: 4vw;
    left: 17px;
    opacity: 0;
}
.SQL:hover p{
    opacity: 100;
    color: #e9ecef;
    transition-duration: 0.4s;
}
.SQL:not(:hover) p{
    opacity: 0;
    color: #e9ecef;
    transition-duration: 0.4s;
}
.SQL:hover .sql{
    filter:brightness(0.3);
    transition-duration: 0.3s;
    scale:1.06
}
.SQL:not(:hover) .sql{
    filter:brightness(1);
    transition-duration: 0.3s;
    scale:1
}
.experience{
    grid-column:5/10;
    grid-row: 5/7;
    border-radius: 15px;
    background-image: linear-gradient(-135deg, rgb(39, 39, 39), black);
    box-shadow: 1px 1px 15px black;
    padding: 10px;
    display: grid;
    border-radius: 15px;
    position: relative;
    color: #e9ecef;
    animation: appear 0.7s ease-in 0.1s normal;
}
.abs{
    z-index: 4;
    width: 10vw;
    height: 10vw;
    position: relative;
    left:5vw;
    bottom: 11vw;
    border-radius: 50%;
    border:0.7vw solid #6c757d52
}
.abs:hover .rating{
    opacity: 100;
    transition-duration:0.3s ;
}
.abs:hover .te{
    opacity: 100;
    transition-duration:0.3s ;
}
.te{
    font-size:20px;
    opacity:0;
    position: relative;
    left:41%;
    top: 40%;
}
.rating{
    position:relative;
    bottom:-10vw;
    left:3vw;
    opacity: 0;
    font-size: 20px;
}
.years{
    z-index: 3;
    width: 11.4vw;
    height: 11.4vw;
    position: relative;
    left:4.32vw;
    bottom: -1.05vw;
    border-radius: 50%;
    border:0.7vw solid #6c757d9c
}
.years:hover .time{
    opacity: 100;
    transition-duration:0.3s ;
}
.years:hover .t{
    opacity: 100;
    transition-duration:0.3s ;
}
.time{
    position:relative;
    bottom:-10.6vw;
    left:3.8vw;
    opacity: 0;
    font-size: 20px;
}
.t{
    font-size:20px;
    opacity:0;
    position: relative;
    left:45%;
    top: 40%;
}
.tab{
    width: 20vw;
    height: 10vw;
    z-index: 10;
    color: #e9ecef;
    position: relative;
    left:27vw;
    bottom: 20vw;
    opacity:0.7;
    font-size: 30px;
}
.footer{
    width:100vw;
    height: 40vh;
    margin-top: 30px;
    background-color: #0A0908;
    display: flex;
    align-items: center;
    justify-content: start;
}
.ed{
    width: 10vw;
    height: 10vw;
    position: relative;
    left:10vw
}
ol{
    position: relative;
    left:50vw;
    list-style: none;
    font-size: 20px;
    line-height: 3vw;
}
a{
    text-decoration:none;
}
@media (width<1480px){
    .grid{
        margin-top: 8vw;
        margin-left: 1.5vw;
        margin-right: 1.5vw;
        display: grid;
        grid-template-columns:repeat(10, 9.4vw);
        grid-template-rows: repeat(6, 9.4vw);
        grid-row-gap: 30px;
        grid-column-gap:20px ;
    }
}
@media (width>1480px){
    .college{
        font-size: 25px;
        color:#e9ecef;
    }
    .tray{
        font-size: 20px;
        transform:translateX(0px);
    
    }
    .def{
        display: flex;
        width:30vw;
        gap:40px;
        opacity: 0;
        position: relative;
        right:0vw;
        top:4.5vw;
    }
    .ghi{
        margin-top: 18px;
        display: flex;
        width:30vw;
        gap:40px;
        opacity: 0;
        position: relative;
        right:0vw;
        top:4.5vw;
    }
    .th1{
        font-size: 20px;
        color: #ADB5BD;
        width:10vw
    }
    .th2{
        margin-top: 10px;
        font-size: 20px;
        color: #ADB5BD;
        width:10vw
    }
    .c{
        font-size: 15px;
    }
    .qualification:hover .qual{
        transform: translateX(-350px);
        transition-duration: 1.5s;
    }
    .qualification:not(:hover) .qual{
        transform: translateX(0px);
        transition-duration: 1.5s;
    }
    .qualification:hover .def, .qualification:hover .ghi{
        display: flex;
        position: relative;
        right:19vw;
        top:4.5vw;
        opacity: 1;
        transition-duration: 2s;
        transform: translateZ(0px);
    }
    .qualification:not(:hover) .def, .qualification:not(:hover) .ghi{
        display: flex;
        position: relative;
        right:0vw;
        top:4.5vw;
        opacity: 0;
        transition-duration: 1s;
        transform: translateZ(0px);
    }
    .qualification:hover .text{
        grid-row: 2/3;
        grid-column: 2/3;
        position:relative;
        top:-12vw;
        right:19vw;
        transition-duration: 1.5s;
    }
    .qualification:not(:hover) .text{
        grid-row: 2/3;
        grid-column: 2/3;
        position:relative;
        top:-6vw;
        right:4vw;
        transition-duration: 1.5s;
    }
}
@media (width<440px){
    .grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .identity, .qualification, .python, .web, .Modelling, .Project, .contact, .experience{
        min-width: 240px;
        width:240px;
        margin:20px;
        margin-top: 30px;
        font-size: 20px;
        line-height:23px ;
    }
    img{
        width:200px;
        height: 200px;
        place-self: center;
        margin-top: 40px;
        margin-bottom:30px;
        border-radius: 30px 0px 30px 0px;
    }
    .intro{
        place-self: center;
        text-align: center;
        margin-left: 1vw;
        margin-right: 1vw;
        margin-bottom: 4vw;
        font-size: 17px;
        font-family:Trirong;
    }
    
    .qualification {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 300px;
    }

    .qual {
        width: 80%;
        max-width: 200px;
        margin-top: 300px;
        margin-bottom: 10px;
    }

    .text {
        font-size: 30px;
        font-weight: bold;
    }
    .tray{
        display: none;
    }
    .def{display: none;}
    .ghi{display: none;}
    .qualification:hover .ghi{
        margin-bottom: 20px;
    }
    .qualification:hover .text{
        background-color: transparent;
        font-family: Trirong;
        font-size: 30px;
        margin-top:80px;
        margin-left: 80px;
        color: #e9ecef;
    }
    .qualification:hover .qual{
        display: none;
    }
    .qualification:hover{
        height:500px;
        transition-duration: 0.3s;
    }
    .qualification:not(:hover){
        height:300px;
        transition-duration: 0.3s;
    }
    .py{
        position: relative;
        top:-40px; 
        z-index: 3;
    }
    
    .lib{
        display: flex;
        width:20vw;
        height: 5vw;
        text-align: center;
        gap: 25px;
        margin-top:-30px;
        align-items: center;
    }
    .ska{
        margin-bottom:18px ;
    }
    .Project{
        display: grid;
        border-radius: 15px;
        position: relative;
        animation: appear 0.7s ease-in 0.1s normal;
    }  
    .empty{
        width: 200px;
        height: 200px;
        display: grid;
        justify-self: center;
        position: relative;
        bottom:30px;
    }
    button{
        min-width:60px;
        min-height: 40px;
        border-radius: 10px;
    }
    .text3{
        position: absolute;
        bottom:10px;
        place-self: center;
        font-size: 20px;     
    }
    .Base{
        z-index: 3;
        margin-top:40px;
        position: relative;
        bottom: 30px;
        font-size: 20px;
        list-style: none;
        line-height: 40px;
    }
    .contact{
        overflow: hidden;
    }
    .ceer{
        min-height: 150px;
        margin-top: 30px;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .SQL{
        min-width: 150px;
        min-height: 150px;
        margin-left: 10px;
        border-radius: 20px;
        background-color: #e9ecef88;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sql{
        max-width: 140px;
        max-height: 150px;
        position: relative; 
        left:1.3%;
        bottom: 4%;
        border-radius: 20px;
        place-self: center;
    }
    p{
        z-index: 3;
        position: relative;
        bottom: 4vw;
        left: 17px;
        opacity: 0;
    }
}